<h1>Listing requests</h1>

<table>
  <thead>
    <tr>
      <th>Picture to describe style</th>
      <th>Text to describe style</th>
      <th>Like colors materials fabrics</th>
      <th>Dislike colors materials fabrics</th>
      <th>Furniture</th>
      <th>Occupants of house</th>
      <th>Cannot be missed</th>
      <th>Hate at other appartments</th>
      <th>Budget</th>
      <th>Furniture needed by</th>
      <th>Additional information</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.email %></td>
        <td><%= request.picture_to_describe_style %></td>
        <td><%= request.text_to_describe_style %></td>
        <td><%= request.like_colors_materials_fabrics %></td>
        <td><%= request.dislike_colors_materials_fabrics %></td>
        <td><%= request.furniture %></td>
        <td><%= request.occupants_of_house %></td>
        <td><%= request.cannot_be_missed %></td>
        <td><%= request.hate_at_other_appartments %></td>
        <td><%= request.budget %></td>
        <td><%= request.furniture_needed_by %></td>
        <td><%= request.additional_information %></td>
        <td><%= request.human_state_name %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
